<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" >
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        
        <div class="form-group">
            <label class="control-label col-md-2" for="assigned_to">assigned_to</label>
            <div class="col-md-10">
                <label class="control-label col-md-2" for="assigned_to">{{projecttask?.assigned_to}}</label>
              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="task_end_date">task_end_date</label>
            <div class="col-md-10">
                <label class="control-label col-md-2" for="task_end_date">{{projecttask?.task_end_date}}</label>
              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="task_start_date">task_start_date</label>
            <div class="col-md-10">
                <label class="control-label col-md-2" for="task_start_date">{{projecttask?.task_start_date}}</label>
              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="task_completion">task_completion</label>
            <div class="col-md-10">
                <label class="control-label col-md-2" for="task_completion">{{projecttask?.task_completion}}</label>
              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="user_story_id">user_story_id</label>
            <div class="col-md-10">
                <label class="control-label col-md-2" for="user_story_id">{{projecttask?.user_story_id}}</label>
              </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="delete" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/projecttask/show">Back to List</a>
</div>

